<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <h1>Игры</h1>
    <ul>
        <li> {{ game_1 }} <button onclick="window.location.href='/cart/'">Купить</button></li>
        <li> {{ game_2 }} <button onclick="window.location.href='/cart/'">Купить</button></li>
        <li> {{ game_1 }} <button onclick="window.location.href='/cart/'">Купить</button></li>
    </ul>
    <p>
        <button onclick="window.location.href='/'"> На главную </button>
    </p>
</body>
</html>